<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>ClassroomRouteFinder AR</title>
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="theme-color" content="#000">
    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href="css/fontello.css">
    <script src="js/jquery.js"></script>
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166082930-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-166082930-1');
    </script>

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
    <header id="header">
        <div class="container">
            <div class="logo">
                <a href="#home">
                    <img src="img/LogoGrupo.png" class="inicio">
                </a>
            </div>
            <input type="checkbox" id="btn-menu" onclick="control()">
            <div class="lbl-menu">
                <label for="btn-menu">
                    <span class="icon-menu" id="linea"></span>
                    <span class="icon-equis" id="equis"></span>
                </label>
            </div>
            <nav id="transition-nav" class="menu">
                <a class="menu-selected active" onclick="cerrar()" href="#home">Inicio</a>
                <a class="menu-selected" onclick="cerrar()" href="#servicios">Tecnologías</a>
                <a class="menu-selected" onclick="cerrar()" href="#contacto">Sugerencias</a>
                <a class="menu-selected" onclick="cerrar()" href="#Guias">Guias</a>
                <a class="menu-selected" onclick="cerrar()" href="#clientes">Tutorial</a>


                <a class="redesociales" href="#" target="blank">
                    <img src="https://zonder.pe/img/facebook.png" ali alt="facebook">
                </a>
                <a class="redesociales" href="#" target="blank">
                    <img src="https://zonder.pe/img/instagram.png" alt="instagram">
                </a>
                <a class="redesociales" href="#" target="blank">
                    <img src="https://zonder.pe/img/wsp.png" alt="WhatsApp">
                </a>
            </nav>
        </div>
    </header>


    <script>
        $(document).on('click', 'nav a', function () {
            $(this).addClass('active').siblings().removeClass('active')
        })
    </script>
    <script>
        function cerrar() {
            var chb = document.getElementById('btn-menu');
            if (chb.checked) {
                $("#btn-menu").prop('checked', false);
            }
        }
    </script>


    <div id="home">
        <input type="radio" name="slider" id="i1" checked>
        <input type="radio" name="slider" id="i2">
        <input type="radio" name="slider" id="i3">
        <div class="lbl-slider">
            <label for="i1" class="l-slider1"></label>
            <label for="i2" class="l-slider2"></label>
            <label for="i3" class="l-slider3"></label>
        </div>

        <div class="portada">
            <div class="capa">
                <div class="contenido">
                    <h1>¿Qué es Classroom Route Finder AR?</h1>
                    <p>Aplicativo de ayuda para la ubicación de secciones dentro de la FIA</p>
                    <a href="#servicios">Ver Tecnologías</a>
                </div>
            </div>
        </div>
        <div class="portada2">
            <div class="capa">
                <div class="contenido">
                    <h1>¿Qué es Classroom Route Finder AR?</h1>
                    <p>Aplicativo de ayuda para la ubicación de secciones dentro de la FIA</p>
                    <a href="#servicios">Ver Tecnologías</a>
                </div>
            </div>
        </div>
        <div class="portada3">
            <div class="capa">
                <div class="contenido">
                    <h1>¿Qué es Classroom Route Finder AR?</h1>
                    <p>Aplicativo de ayuda para la ubicación de secciones dentro de la FIA</p>
                    <a href="#servicios">Ver Tecnologías</a>
                </div>
            </div>
        </div>
    </div>


    <div id="servicios">
        <div class="contenido">
            <div class="box">
                <figure>
                    <img src="img/App.png" alt="">
                    <div class="info">
                        <h2>WEB</h2>
                        <p><b>Azure App Service</b><br>
                        </p>
                    </div>
                    <a href="https://docs.microsoft.com/en-us/azure/app-service/">Ver más</a>
                </figure>
            </div>
            <div class="box">
                <figure>
                    <img src="img/Anchor.png" alt="">
                    <div class="info">
                        <h2>APP</h2>
                        <p><b>Azure Spatial Anchor</b><br>
                        </p>
                    </div>
                    <a href="https://docs.microsoft.com/en-us/azure/spatial-anchors/overview">Ver más</a>
                </figure>
            </div>
            <div class="box">
                <figure>
                    <img src="img/Object.png" alt="">
                    <div class="info">
                        <h2>AR</h2>
                        <p><b style="font-size: 16px;">Azure Object Anchor</b><br>
                        </p>
                    </div>
                    <a href="https://docs.microsoft.com/en-us/azure/object-anchors/overview">Ver más</a>
                </figure>
            </div>
            <div class="box-cel">
                <figure>
                    <img src="img/App.png" alt="">
                </figure>
                <figure>
                    <div class="info-cel">
                        <h2>WEB</h2>
                        <p><b>Azure App Service</b><br>
                        </p>
                    </div>
                    <a href="https://docs.microsoft.com/en-us/azure/app-service/">Ver más</a>
                </figure>
            </div>
            <div class="box-cel">
                <figure>
                    <img src="img/Anchor.png" alt="">
                </figure>
                <figure>
                    <div class="info-cel">
                        <h2>APP</h2>
                        <p><b>Azure Spatial Anchor</b><br>
                        </p>
                    </div>
                    <a href="https://docs.microsoft.com/en-us/azure/spatial-anchors/overview">Ver más</a>
                </figure>
            </div>
            <div class="box-cel">
                <figure>
                    <img src="img/Object.png" alt="">
                </figure>
                <figure>
                    <div class="info-cel">
                        <h2>AR</h2>
                        <p><b style="font-size: 16px;">Azure Object Anchor</b><br>
                        </p>
                    </div>
                    <a href="https://docs.microsoft.com/en-us/azure/object-anchors/overview">Ver más</a>
                </figure>
            </div>
        </div>
        <a href="#" class="btn-servicios">Otras tecnologías</a>
    </div>


    <div id="contacto">
        <div class="contenedor">

            <div class="formulario">

                <form id="formulario" action="/Home/sugerenciasDb">


                    <label for="sug">Sugerencias</label>
                    <textarea name="sug" id="sug" class="form-control" rows="10" cols="50" required></textarea>

                    <input type="submit" value="Enviar" name="enviar" id="enviar">
                </form>

            </div>


            <div class="formulario">
                <form id="formulario" action="/Home/Contactar">

                    <label for="nom">Nombres</label>
                    <input type="text" name="nomb" class="form-control" required>
                    <label for="ape">Apellidos</label>
                    <input type="text" name="apell"  class="form-control" required>
                    <label for="correo">Correo Electrónico</label>
                    <input type="correo" name="correo" class="form-control" required>
                    <label for="cel">Celular</label>
                    <input type="number" name="celu" class="form-control" required>


                    <label for="msj">Mensaje</label>
                    <textarea name="mensj" class="form-control" required></textarea>
                    <input type="submit" value="Enviar" name="enviar" id="enviar">
                </form>
            </div>

        </div>
    </div>

    <div id="Guias"> 
        <div id="contacto">
            <h1 style = "color: #eee;">Guias de contenido</h1>
            <div class="abs-center">
                 <div class="text-center">
                    <figure>
                    <img src="img/docicon.png"  alt="">
                    </figure>
                </div>
                <div style = "color: #eee;" class="text-center"> 
                    GUIAS DESCARGAR
                </div>
                <a href="img/Guia FAQ Bot.docx" download="Guia FQA Bot">
                ---Guia QnAMarket---
                </a>
            </div>
            

        </div>
    </div>





    <section style="background-color: black">
    <div  style='min-width: 400px; width: 100%;height:50%; min-height: 500px;margin-left: 25%;' id="webchat" role="main"></div>
    <script>

        // Set  the CSS rules.
        const styleSet = window.WebChat.createStyleSet({
            bubbleBackground: 'rgba(219, 224, 224, .1)',
            bubbleFromUserBackground: 'rgba(3, 222, 252 , .1)',
            rootHeight: '10%',
            rootWidth: '50%',
            backgroundColor: 'white'
        });

        // After generated, you can modify the CSS rules.
        // Change font family and weight. 
        styleSet.textContent = {
            ...styleSet.textContent,
            fontFamily: "'Comic Sans MS', 'Arial', sans-serif",
            fontWeight: 'bold'
        };

        // Set the avatar options. 
        const avatarOptions = {
            botAvatarImage: 'img/buhousmp.jpg',
            botAvatarInitials: 'BOT',
            userAvatarImage: 'img/perfiling.jpg',
            userAvatarInitials: 'AL'
        };

        window.WebChat.renderWebChat({
            directLine: window.WebChat.createDirectLine({
                token: 'ew0KICAiYWxnIjogIlJTMjU2IiwNCiAgImtpZCI6ICJ2cG4yYXhuRjFSU3NHUXg5aXd0WGEwZTNjRWciLA0KICAieDV0IjogInZwbjJheG5GMVJTc0dReDlpd3RYYTBlM2NFZyIsDQogICJ0eXAiOiAiSldUIg0KfQ.ew0KICAiYm90IjogImNyZmFycW5hLWJvdCIsDQogICJzaXRlIjogIllnVm5OSklBcFBBIiwNCiAgImNvbnYiOiAiMjJtUGo1dG5yNmpLa0RGUFdaVllCSC01IiwNCiAgIm5iZiI6IDE2MzUyMDMwMTMsDQogICJleHAiOiAxNjM1MjA2NjEzLA0KICAiaXNzIjogImh0dHBzOi8vZGlyZWN0bGluZS5ib3RmcmFtZXdvcmsuY29tLyIsDQogICJhdWQiOiAiaHR0cHM6Ly9kaXJlY3RsaW5lLmJvdGZyYW1ld29yay5jb20vIg0KfQ.L0QnNu4untFtYcx4Xtm1_BVumGeGnTLB4z6HXiRZvPtWIepj7rMjVmUYTSsQVLfHOnCLgUoQPOlMHvH7yx_2s866nBV2vvr2Sg9wgcnhhVkIAF0ydnpF1C95b4aiL8f_6gWF2qPF1opxGD6Hs-gIv-Qmdm6CAyK4sXdVE9IR4Vi77JRaZGu4YULfzmp00oRuffSFCQ9QguGC8C5w3xercx_-N4uYc22z6o-9jh7oWdjUKl7jvx-xZUw7gpsBfV-82TtGz0PA16nKyDwlumNan2zEvQsjKZ3k2wFuQJN1JZ-DVATl0c6LCShXFTiSlObpsD-yy4Kx8Y_ffPcZG-vyig'
            }),
            styleSet,
            styleOptions: avatarOptions
        }, document.getElementById('webchat'));

    </script>
    </section>
    

    <div style="background-color: black;">Hola</div>

    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="js/header.js"></script>
    <script src="js/nav.js"></script>
    <script src="js/slider.js"></script>
    <script src="js/CAPTCHA.js"></script>
    <script src="js/closemenu.js"></script>
</body>
<script>'undefined' === typeof _trfq || (window._trfq = []); 'undefined' === typeof _trfd && (window._trfd = []), _trfd.push({ 'tccl.baseHost': 'secureserver.net' }), _trfd.push({ 'ap': 'cpsh' }, { 'server': 'p3plcpnl0548' }) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script>
<script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>

</html>